<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>blueTile.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{1,1},{60,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>greenTile.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{60,1},{60,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>redTile.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{120,1},{60,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>Tiles.png</string>
		<key>size</key>
		<string>{160,60}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:6564d89e25c128f71da076d3e3733238:89b681548751141b31fce568709f8941:74afa4b65228d18be48f1e2afedf2a86$</string>
		<key>textureFileName</key>
		<string>Tiles.png</string>
	</dict>
</dict>
</plist>
